[Unit]
Description=turn the lights on

[Service]
Type=simple
ExecStart=/home/pi/lights/target/release/lights
User=pi
WorkingDirectory=/home/pi/lights

[Install]
WantedBy=multi-user.target
